@media (min-width: 769px) {

img.card:hover{
    width: 240px;
    height: 240px;
    border: 3px solid black;
}

}
div#titulo {
    width: 100vw;
    font-size: medium;
    font-weight: lighter;
    margin-bottom:- 0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

div.logo{
    display: flex;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

img#logo {
    width: 80px;
    height: 80px;
    margin:0;
}

div#subtitulo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
}

.butt{
    border-left: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-top: none;
    color: black;
    background-color: white;
    transition-duration: 0.3s;
    padding: 12px 0px;
    margin: 0px;
}

button.butt#adm {
    border-left: none;

}
.butt:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.titulo1{
    text-align: left;
}

#search{
    background-color: white;
    border: none;
}

#search:hover{
    cursor: pointer;
}

#bar{
    width: 30vw;
    border: none;
    border-bottom: 2px solid black;
}

#profile{
    background-color: white;
    border: none;
    font-size: x-large;
}

#profile:hover{
    cursor: pointer;
}

div#corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

div.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    row-gap: 100px;
    margin-top: 20px;
}
img.card{
    border: 2px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}


.hidden{
    display: none;
}


@media (max-width: 768px) {
    body{
        background-color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: start;
        align-items: top;
        flex-direction: column;
    }
    
    div#titulo {
        width: 100vw;
        font-size: large;
        font-weight: bold;
        margin-bottom:- 0px;
    }   


    div.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 4px;
}

    img.card{
    border: 2px solid black;
    border-radius: 30px;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

    #bar{
        width: 10vw;
        border: none;
        border-bottom: 2px solid black;
}
    #bar:focus{
        width: 20vw;
        border: none;
        border-bottom: 2px solid black;
}
}