@media (min-width: 769px) {

img.card:hover{
    width: 240px;
    height: 240px;
    border: 3px solid black;
}

}
div#titulo {
    width: 100%;
    font-size: medium;
    font-weight: lighter;
    margin-bottom:- 0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div.overlaygpt {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupgpt{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

    div.overlaynotion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupnotion{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.overlaymathway {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupmathway{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.overlayjasper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupjasper{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.overlaymidjourney {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupmidjourney{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.overlayelevenlabs {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupelevenlabs{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.overlaygemini {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

div.popupgemini{
    background: white;
    width: 600px;
    height: 400px;
    max-width: 90%;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

div.logo{
    display: flex;
    align-items: center;
    gap: 0px;
    cursor: pointer;
}

img#logo {
    width: 80px;
    height: 80px;
    margin:0;
}

div#subtitulo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
}

.butt{
    border-left: 1px solid black;
    border-right: none;
    border-bottom: 1px solid black;
    border-top: none;
    color: black;
    background-color: white;
    transition-duration: 0.3s;
    padding: 12px 0px;
    margin: 0px;
}

button.butt#adm {
    border-left: none;

}
.butt:hover{
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.titulo1{
    text-align: left;
}

#search{
    background-color: white;
    border: none;
}

#search:hover{
    cursor: pointer;
}

#bar{
    width: 600px;
    border: none;
    border-bottom: 2px solid black;
}

#profile{
    background-color: white;
    border: none;
    font-size: x-large;
}

#profile:hover{
    cursor: pointer;
}

div#corpo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

div.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;
    row-gap: 100px;
    margin-top: 20px;
}
img.card{
    border: 2px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}


.hidden{
    display: none;
}


@media (max-width: 768px) {
    body{
        background-color: white;
        font-family: Arial, sans-serif;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: top;
        flex-direction: column;
    }
    
    div#titulo {
        width: 100%;
        font-size: large;
        font-weight: bold;
        margin-bottom:- 0px;
    }   


    div.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 4px;
}

    img.card{
    border: 2px solid black;
    border-radius: 30px;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

    #bar{
        width: 10%;
        border: none;
        border-bottom: 2px solid black;
}
    #bar:focus{
        width: 20%;
        border: none;
        border-bottom: 2px solid black;
}
}

img.popup{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}